.container {
    overflow: hidden;
}
.home_header_pck {
    background-color: #eff6fc6b;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10000;
    border: 0;
}
.home_header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_header_pack_one {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    text-align: center;
    max-width: 500px;
}
.home_header_pack_two {
    width: 20%;
    max-width: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;
}
.home_header_pack_two div {
    padding: 16px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #f0f6fa;
}
.home_header_pack_one div{
    padding: 16px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #f0f6fa;
    border-right: 2px solid #e8eff5;
}
.home_header_pack_one div img, .home_header_pack_two div img{
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers vertically */
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 16px;
    filter: brightness(0.9) contrast(1.1) grayscale(100%);
}

.active {
    background-color: #d4ebff !important;
    border-right: 0 !important;
    border-top: 3px solid #96ccfb;
}
.active img{
    filter: invert(63%) sepia(23%) saturate(1055%) hue-rotate(168deg) brightness(103%) contrast(93%) !important;
}

.course_container {
    background-color: #eff6fce4;
    height: 400px;
}

.container_home {
    padding-top: 10px;
}

.ch_a {
    margin: 20px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.ch_a_note {
    width: 20%;
    max-width: 40px;
    background-color: #aae0ce;
    padding: 20px;
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
}
.ch_a_comment {
    width: 100%;
    background-color: #d8eee7;
    padding: 20px;
    display: flex; /* Enables flexbox */
    align-items: left; /* Centers vertically */
    justify-content: left; /* Centers horizontally */
}
.ch_b_top_head {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.error_container {
    padding: 20px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 4px;
    background-color: #e0c9aa;
    display: flex;
    align-items: center;
}
.error_container img {
    margin-right: 30px;
    margin-left: 10px;
}
.profile_main {
    background-color: #f2f8fc;
}
.chicago_bar {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    border-top: 1px solid #d8e0ee;
}

.chicago_bar div {
    padding: 14px 8px 8px 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.chicago_bar_selected{
    border-bottom: 3px solid #2996f5;
}

.profile_main_con {
    min-height: 500px;
    background-color: #d8e0ee;
}

.conver_pic {
    width: 100%;
    height: 120px;
    background-color: #2996f556;
    overflow: hidden;
}
.conver_pic img{
    width: 100%;
    height: auto;
    align-items: center;
}

.profile_pic {
    position: relative;
    padding: 20px;
    top: -80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic_pic {
    width: 120px;
    height: 120px;
    background-color: #eff5ff;
    border: 2px solid #c2daee;
    border-radius: 500px;
    overflow: hidden;
}
.pic_pic img{
    width: 100%;
}
.pic_edit {
    display: flex;
    align-items: center;
    background-color: #ddebf8;
    border: 1px solid #c2daee;
    padding: 10px;
    font-size: 16px;
    border-radius: 60px;
    width: 120px;
    cursor: pointer;
}
.pic_edit:hover{
    background-color: #c2daee;
}
.pic_edit img{
    margin-right: 10px;
    margin-left: 4px;
}
.username_and_discription {
    margin: 0px 30px 0px 30px;
    position: relative;
    top: -80px;
}
.name_co_ {
    font-size: 22px;
}
.username_con_ {
    color: #4f5558;
    font-size: 16px;
}
.description_con_ {
    margin-top: 20px;
    font-size: 17px;
}
.chicago_mine {
    top: -20px;
    position: relative;
    margin: 0px 30px 0px 30px;
}
.info_chicago {
    display: flex;
    justify-content: space-between;
}
.info_chicago_ {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
.info_chicago div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.info_chicago div img{
    margin-right: 8px;
}
.edit_profile {
    background-color: #F2F9FF;
}
.edit_profile_header {
    padding: 10px;
    width: 90%;
    margin: auto;
}
.edit_profile_header {
    display: flex;
    justify-content: space-between;
}
.exit_editor {
    padding: 8px;
    width: 60px;
    text-align: center;
    background-color: #f65c54;
    color: #eff5ff;
    font-size: 16px;
    font-weight: 800;
    border-radius: 30px;
    border: 1px solid #ec453d;
    cursor: pointer;
}
.save_editor {
    padding: 8px;
    width: 60px;
    text-align: center;
    background-color: #5467f6;
    color: #eff5ff;
    font-size: 16px;
    font-weight: 800;
    border-radius: 30px;
    border: 1px solid #4155eb;
    cursor: pointer;
}
.cover_edit {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
._cover_edit {
    height: 100%;
}
._cover_edit img{
    width: 100%;

}
._cover_edit_ {
    position: absolute;
    width: 100%;
    height: 100%;
}

._cover_edit_ img {
    position: absolute;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #c2daeebe;
    border-radius: 10px;
    cursor: pointer;
}

.profile_pic_edit {
    overflow: hidden;
    position: relative;
    top: -50px;
    border:4px solid #c2daee;
    width: 125px;
    height: 125px;
    margin-left: 20px;
    border-radius: 100px;
}
._pic_edit_ {
    position: absolute;
    width: 100%;
    height: 100%;
}
._pic_edit_ label {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
._pic_edit_ label img{
    text-align: center;
    margin: auto;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #c2daeebe;
    border-radius: 10px;
    cursor: pointer;
}
.input_edit_group {
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.input_edit_group div {
    margin-right: 10px;
    width: 45%;
}
.input_edit_ {
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.input_edit_ label {
    position: absolute;
    top: -15px;
    font-size: 17px;
    z-index: 10;
    left: 10px;
    background-color: #F2F9FF;
}
.input_edit_ input{
    width: 95%;
    padding: 10px;
    margin: auto;
    border: 1px solid #c2daee;
    border-radius: 4px;
    font-size: 16px;
}
.input_edit_ind {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.edit_faild {
    padding: 10px;
    font-size: 17px;
    text-align: center;
    width: 79%;
    margin: auto;
    background-color: #f9c4c2;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
}
.cr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cr::after {
    content: "";
    border: 4px solid #e8eff5;
    border-top: 4px solid #2996f5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.edit_succ {
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
    background-color: #85d0ba;
    font-size: 17px;
}

._pic_edit {
    background-color: #9accec;
    width: 100%;
}
._pic_edit img {
    width: 100%;
    height: 100%;
}