.intro {
    padding: 30px;
    margin-top: 40px;
    background-color: rgb(234, 242, 248);
    position: relative;
    min-height: 400px
}

.anime {
    position: absolute;
    top: 60px;
    right: 60px;
}

.anime_tap {
    width: 300px;
    background-color: #c1e8ff;
    padding: 20px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-right: 10px solid #d6ecf9;
}

.anime_header {
    position: relative;
    right: -90px;
    padding: 16px;
    width: 240px;
    background-color: #369aff;
    color: aliceblue;
    border-radius: 6px 6px 0px 6px;
    font-size: 15px;
}

.anime_title {
    font-family: "Pacifico", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #369aff;
    margin-bottom: 20px;
}

.anime_continer {
    position: relative;
    margin-top: 20px;
    right: 50px;
    padding: 16px;
    width: 260px;
    background-color: #a1b7be;
    color: aliceblue;
    border-radius: 6px 6px 6px 0px;
    font-size: 15px;
}

.time_nn {
    font-size: 12px;
}

.modern-intro {
    max-width: 400px;
    z-index: 100;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .anime {
        position: relative;
        right: auto;
    }

    .modern-intro {
        max-width: 100%;
    }

    .anime_tap {
        width: 240px;
        right: auto !important;
        left: auto !important;
        margin: auto !important;
    }

    .anime_header {
        padding: 14px;
        width: 240px;
        right: -50px;
    }

    .anime_continer {
        padding: 14px;
        width: 240px;
    }

    .intro {
        min-height: 600px
    }
}

.courses {
    padding: 20px;
}

.course-list {
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.course-item {
    min-width: 300px;
    margin-right: 20px;
}

.item-shape {
    padding: 17px;
    border-radius: 8px;
    background-color: #0a5db03d;
    margin-bottom: 20px;
}

.item-python {
    background-color: #ace4f16f;
}

.item-logo {
    display: flex;
    align-items: center;
}

.item-logo img {
    margin-right: 13px;
}

.join {
    margin: 20px;
    padding: 20px;
    background-color: #deeef4;
    border-radius: 4px;
    color: rgb(23, 23, 23);
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.earth {
    z-index: -100;
    position: absolute;
    top: 0;
    left: -100px;
    filter: invert(36%) sepia(50%) saturate(1500%) hue-rotate(190deg) brightness(95%) contrast(105%) blur(5px);
}

.meteor {
    z-index: -100;
    position: absolute;
    top: 10px;
    left: 100px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(30deg) brightness(118%) contrast(119%) blur(5px);
}

.btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.btn-primary {
    background-color: #39cf75;
    padding: 10px;
    font-weight: 900;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #2eb263;
    border-right: 3.5px solid #2eb263;
    width: 40%;
    color: aliceblue;
}

.btn-primary- {
    background-color: #90bbbd;
    padding: 10px;
    font-weight: 900;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #8db1aa;
    border-right: 3.5px solid #7da39e;
    width: 40%;
    color: aliceblue;
}

.Qa_uio {
    margin: 40px 20px 30px 20px;
}

.Qa_group {
    display: flex;
    overflow: auto;
    padding-bottom: 20px;
}

.Qa_in {
    min-width: 300px;
    height: 200px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: #deeef4;
    padding: 20px;
    cursor: pointer;
    border-bottom: 20px solid #2e70b2;
}


.Qa_group {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
}

.Qa_head_group {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Qa_controls button {
    border: 0;
    background: none;
    cursor: pointer;
    width: 50px;
}

.courses_head {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vis_none {
    display: none;
}

.vis_block {
    display: block;
}