.main_header {
  background-color: #F2F9FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  color: hsl(210, 6%, 35%);
}


/* Full-page container */
.loading_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Optional background */
}

/* Logo container */
.loading_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo image */
._logo {
  width: 60px;
  object-fit: contain;
}


.logo {
  height: 70px;
  pointer-events: none;
}

.profile_icon {
  width: 100%;
}

.profile_logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  border: 2px solid #194fa5;
  margin-right: 10px;
  /* commented for demo
  float: left;
  margin-top: 20px;
  */

  /*for demo*/
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  /* Add transition for smooth effect */
  transition: filter 0.3s ease, border-color 0.3s ease;
}

.profile_logo:hover {
  border: 2px solid #04b3f2;
  filter: brightness(0.7);
  /* Darkens the image */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.modern-footer {
  background-color: #F2F9FF;
  padding: 20px;

}


.header-ask {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.header-login {
  padding: 10px;
  color: #6f7577;
  border-radius: 3px;
}

.header-login:hover {
  padding: 10px;
  color: black;
}

.header-signup {
  padding: 10px;
  background-color: #04b3f2;
  color: aliceblue;
  margin-left: 10px;
  border-radius: 3px;
}

.header-signup:hover {
  background-color: #038eff;
}


/* LOGIN SIGNUP */

.page_login_signup {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.page_login_signup h2 {
  font-size: 22px;
  font-weight: 800;
  color: #474a50;
  margin-bottom: 30px;
  text-align: center;
}

.page_login_signup form {
  margin-top: 10px;
}

.enter_message {
  padding: 20px;
  font-size: 17px;
  background-color: #ade3f3ee;
  border-radius: 4px;
}

.form-group {
  padding: 7px;
  background-color: #F2F9FF;
  position: relative;
  margin-top: 20px;
  border-radius: 2px;
  display: flex;
}

.form-group label {
  position: absolute;
  top: -14px;
  left: 15px;
  font-size: 17px;
  font-weight: bold;
  color: #474a50;
}

.form-group input {
  padding: 10px;
  border: 0;
  background: none;
  width: 95%;
  font-size: 16px;
  outline: 0;
  border: 0;
}

.form-group select {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 0;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-size: 17px;
  border: 0;
  background-color: #108ae7;
  color: #F2F9FF;
  font-weight: bold;
  border-bottom: 3px solid #1079c9;
  border-right: 3px solid #1079c9;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .inputs_group {
    display: flex;
    justify-content: space-between;
  }

  .inputs_group .form-group {
    width: 46% !important;
  }
}

.toggleAny {
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #474a50;
  margin-top: 10px;
}

.toggle-btn- {
  padding: 10px;
  font-size: 15px;
  color: #474a50;
  font-weight: bold;
  border: 0;
  width: 100%;
  cursor: pointer;
}

.toggle-btn {
  padding: 10px;
  font-size: 15px;
  color: #474a50;
  font-weight: bold;
  border: 0;
  width: 100%;
  cursor: pointer;
  background-color: #0b9c9a;
  color: #F2F9FF;
  border-bottom: 3px solid #087674;
  border-right: 3px solid #087674;
}

.toggle-btn:hover {
  background-color: #087674;
  color: #F2F9FF;
}

.form-group button {
  border: 0;
  outline: 0;
  color: #474a508d;
  font-size: 13px;
  cursor: pointer;
  background: none;
  font-weight: bold;
  margin-right: 10px;
}

.panel {
  position: absolute;
  background-color: #F2F9FF;
  border-top: 1px solid #edf4f9;
  left: 0;
  right: 0;
  top: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 600;
}

.panel div {
  text-align: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  border-right: 1px solid #d0d4d9;
  padding-right: 20px;
}

.panel_web {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  border: none !important;
  padding: 0 !important;
}

.panel_web mark {
  background: none;
  color: #038eff;
}

.panel_web div {
  text-align: center;
  border: none !important;
}

.panel_web .panel_icon {
  padding: 0 0 0 30px;
}

.panel_web img {
  position: relative;
  top: 3px;
  margin-right: 4px;
}

.panel_more {
  align-items: center;
  display: flex;
  justify-content: center;
  border: none !important;
}

.panel_more img {
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  .panel_web {
    display: none;
  }
}

.header_selected {
  color: #038eff !important;
  font-weight: bold;
}

.dropdown_content {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 155px;
  background-color: #F2F9FF;

  
  display: flex;
  flex-direction: column;
}

.dropdown_section {
  padding: 10px;
  margin: 10px;
}

.dropdown_section:first-child {
  background-color: #edf4f9;
  border-bottom: 2px solid #f4f6f7;
}

.dropdown_section:nth-child(2) {
  background-color: #edf4f9;
  border-bottom: 2px solid #f4f6f7;
}

.dropdown_section:nth-child(3) {
  color: #228ab3;
  margin-bottom: 30px !important;
  padding-top: 30px !important;
  border-top: 2px solid #edf4f9;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.dropdown_section div {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.dropdown_section div:hover {
  background-color: #F2F9FF;
  text-decoration: none;
}

.loading-message {
  padding: 10px;
  background-color: #04b3f2;
  border-radius: 2px;
  margin: 10px;
}